############################
# OS / editor
############################
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
*.swp

############################
# Node / Strapi
############################
node_modules/
marius-cms/node_modules/
marius-cms/.tmp/
marius-cms/.cache/
marius-cms/dist/
marius-cms/build/
marius-cms/.strapi/
marius-cms/.strapi-updater.json
marius-cms/.env
marius-cms/public/uploads/
marius-cms/scripts/parsed-projects.json
npm-debug.log*
yarn-error.log*

############################
# Accidental root install leftovers
############################
/package-lock.json
/package.json
